*{	font-family: "Comic Sans MS", cursive, sans-serif;}
body {
	text-align: center;
	background-color:#312F2F;
}

h1 {
	margin-top: 48px;
	margin-bottom: 48px;
	color:white;
}

button {
	height: 64px;
	width: 250px;
	font-size: 24px;
	color:white;
	cursor:pointer;

}

.dropdown {
	float: top;
	position: relative;
	display: inline-block;
}
.dropbtn {
	background-color: #A6D9F7;
	color: white;
	font-size: 16px;
	border: none;
	float: top;
	position: relative;
	display: inline-block;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #67C2F7;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
}

.dropdownbtn{
	background-color:#67C2F7;
}
.dropdownbtn:hover, .dropdownbtn:focus {
	background-color: #42B5F7;
}


.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.content{
	height: 100%;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}





.stretch, .gamebutton:after, .gamebutton:before {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.gamebutton {
	background: #84DCCF;
	background-size: 100%;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
	border: none;
	color: white;
	font-weight: bold;
	letter-spacing: 0.05em;
	outline: none;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.gamebutton:hover{
  -webkit-animation: glitch 750ms infinite;

}
.gamebutton:after {
	-moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
	-webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
	box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
	background: #FAF15D;
	content: "";
	height: 2px;
	opacity: 0;
}
.gamebutton:before {
	content: "";
	opacity: 0;
}

.gamebutton:hover:before {
	opacity: 1;
}
.gamebutton:hover:after {
	-webkit-animation: scan 2s infinite;
	opacity: 1;
}

@-webkit-keyframes glitch {
	0% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	5% {
		-moz-transform: skewX(2deg);
		-ms-transform: skewX(2deg);
		-webkit-transform: skewX(2deg);
		transform: skewX(2deg);
		opacity: 0.75;
	}
	10% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
		opacity: 1;
	}
	15% {
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 0.75;
	}
	20% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
		opacity: 1;
	}
	45% {
		-moz-transform: skewX(3deg);
		-ms-transform: skewX(3deg);
		-webkit-transform: skewX(3deg);
		transform: skewX(3deg);
		opacity: 0.75;
	}
	50% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
		opacity: 1;
	}
	55% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
		opacity: 0.75;
	}
	60% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
		opacity: 1;
	}
	75% {
		-moz-transform: skewX(2deg);
		-ms-transform: skewX(2deg);
		-webkit-transform: skewX(2deg);
		transform: skewX(2deg);
	}
	80% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	85% {
		-moz-transform: skewX(-8deg);
		-ms-transform: skewX(-8deg);
		-webkit-transform: skewX(-8deg);
		transform: skewX(-8deg);
		opacity: 0.75;
	}
	90% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
		opacity: 1;
	}
	100% {
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
}
@-webkit-keyframes scan {
	0% {
		top: 0%;
	}
	50% {
		top: 97%;
	}
	100% {
		top: 0%;
	}
}

